<footer>
  <div class="container">
    <object
      class="footer-logo"
      data="/img/lnug-logo-monochrome.svg"
      type="image/svg+xml"
    >London Node User Group logo</object>
    <ul class="footer-links">
      <li><a href="/about">About LNUG</a></li>
      <li><a href="/talks" title="Talks Archive">Talks Archive</a></li>
      <li><a href="/code-of-conduct" title="Code of Conduct">Code of Conduct</a></li>
    </ul>
    <br />

  </div>
</footer>