<header>
    <div class="container">
        <a href="/">
            <img class="header-logo" src="/img/lnug-logo.svg" alt="LNUG logo" />
        <h1>London's Node.js User Group</h1>
        </a>
    </div>
</header>
