html, body {
  overflow-x: hidden;
  background-color: white;
}

.container {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}
.lnug-header {
  background-color: rgb(70, 72, 61);
  background-image: url(assets/logo/new-transparent.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 220px;
}
.lnug-headline {
  background-color: rgb(70, 72, 61);
  color: yellow;
  font-size: 18px;
}
.lnug-headline h1 {
  margin: 0 !important;
  padding: 10px 0 !important;
  font-size: 18px !important;
  color: rgb(196, 200, 175);
}

.lnug-menu {
  background-color: rgb(83, 85, 74);
  text-align: center;
}

.lnug-menu-textblock {
  text-align: center;
  height:100%;
  display: inline-block;
}

.lnug-menu-text {
  color: rgba(255,255,255,0.2);
  line-height: 3.3;
  font-size: 24px;
  height: 80px;
  float: left;
}
.lnug-menu-text a {
  color:rgba(255,255,255,0.8);
}
#lnug-tkt {
  color:rgba(190,213,46,0.8);

}

.lnug-nextevent {
  background-color: rgb(245, 245, 245);
  height: 80px;
  font-size: 24px;
  padding-top: 20px;
}

.lnug-sectiondesc {
  color: rgb(196, 200, 175);
  font-size: 36px;
  height: 80px;
  width: 100%;
}

html body .lnug-section p {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.talk-label,.sponsor-label {
  padding: 15px 0;
  border-bottom: 1px rgb(240, 240, 240) solid;
}
.twitter-label {
  padding: 15px 0;
  border-bottom: 1px rgb(240, 240, 240) solid;
}

.twitter-widget {
  padding-top: 10px;
  margin: 0 40px;
}

.lnug-content {

}

.lnug-content h1 p, .lnug-content h1 {
  margin-left: 20px;
}

.lnug-archive dl {
  margin: 0 20px;
}

.lnug-archive dt {
  font-size: 28px;
}

.lnug-archive dd {
  font-size: 16px;
}

.lnug-singlespeaker {
  margin-top: 25px;
  display: table;
}

.lnug-speakerphoto {
  display: table-cell;
  vertical-align: middle;
  float: none;
}
.lnug-speakercard {
  display: table-cell;
  float: none;
}

.lnug-speakercard div {
  margin: 10px 0;
  height: 100%;
}

.lnug-speakername {
  font-size: 32px;
  color: black;
  font-weight: 700;
}

.lnug-talktitle {
  font-size: 28px;
  color: black;
  font-weight: 400;
}

.lnug-talkdesc {
  font-size: 16px;
  color: black;
  font-weight: 300;
}

.lnug-twitterhandle {
  font-size: 26px;
  color: rgb(206, 208, 194);
  font-weight: 300;
}

.lnug-footer {
  background: rgb(83, 85, 74);
  height: 80px;
  color: rgba(255,255,255,0.4);
}

.lnug-footer-text {
  margin-top: 10px;
  text-align: center;
}
.lnug-footer-text li {
  display: inline-block;
  padding: 0 15px;
}

.lnug-footer-text a {
  color: rgba(255,255,255,0.4);
}
