<div class="box split">
  <div class="inner">
    <h1>Next meetup - <span class="lnug-nextmeetup blur"></span></h1>
    <div class="info clearfix">
      <div class="wp desc">London Node User Group (LNUG) is a friendly monthly meetup for people using Node.js for fun or profit.</div>
      <div class="wp">Stream starts <h2>6:30</h2>pm</div>
      <div class="wp address">
        <a href="" target="_blank" rel="noopener">

            <strong class="venue blur">Next meetup: 24th June 2020</strong>
            <address class="blur">
              
            </address>
        </a>
            <div class="detail"></div>
      </div>
    </div>
  </div>
</div>

<div class="total clearfix ticket split">
  <a id="lnug-tkt" class="buy cta" href="https://live.remo.co/e/lnug-meetup" target="_blank" rel="noopener">LIVE FEED on remo.co</a>
</div>
