

#slide-nav   {
  margin: 0;
  padding: 0;
  li {
    display:inline-block;
    font-size: 0.5em;
    a {
      padding: 5px 10px 5px;
      text-decoration: none;

    }
  }
}

html[data-speclate-page*="slides/"]{
  #container {
    margin: 0 2.5em;
    padding:0 1em .5em;
    font-size: 2em;
  }

  header, footer {
    opacity: 0;
  }
}

#slide-nav li a.active {
  background: #BED52E;
  border-radius: .4em 0;
}

#slide-nav li a.hidden {
  list-style: none;
  opacity: 0;
}