<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <meta charset="utf-8">
  <title>LNUG - London Node User Group</title>
  <meta name="description" content="London Node.js User Group is a meetup for developers but everyone is welcome. We meet every month to talk about Node, Javascript and to network">
  <!-- og  + meta data -->
  <meta property="og:title" content="LNUG - London Node User Group">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://lnug.org">
  <meta property="og:image" content="https://cloud.githubusercontent.com/assets/1097232/8071106/f07e3f4e-0efe-11e5-84f7-f4d4debe9ec7.png">
  <meta property="og:site_name" content="LNUG - London Node User Group">
  <meta property="og:description" content="London Node.js User Group is a meetup for developers but everyone is welcome. We meet every month to talk about Node, Javascript and to network.">

  <meta name="twitter:site" content="@lnugorg">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="LNUG - London Node User Group">
  <meta name="twitter:description" content="London Node.js User Group is a meetup for developers but everyone is welcome. We meet every month to talk about Node, Javascript and to network.">
  <meta name="twitter:image" content="http://i.imgur.com/BBVehHB.png">
  <meta name="twitter:url" content="http://www.lnug.org">
  <meta name="google-site-verification" content="gnZ_Oz6_k7Gv93jmtpCeY6Rjz6E_rjh_1n5dlYgMcJw">
  <script src="//code.jquery.com/jquery.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-xs-12 lnug-hero">
      <div class="lnug-header img-responsive">
      </div>
      <div class="lnug-headline text-center"><h1>A meetup hosted monthly in London, LNUG is for people who use Node.js for fun or profit.</h1></div>
      <div class="row">
        <div class="lnug-menu col-lg-12">
            <div class="lnug-menu-textblock col-lg-8 col-lg-offset-2">
              <div class="lnug-menu-text col-xs-12 col-lg-3"><a href="/">This month</a></div>
              <div class="lnug-menu-text col-xs-12 col-lg-3"><a href="/archive">Archive</a></div>
              <div class="lnug-menu-text col-xs-12 col-lg-3"><a href="https://gitter.im/lnug/discuss" target="_blank">Discuss</a></div>
              <div class="lnug-menu-text col-xs-12 col-lg-3"><a id="lnug-tkt" href="https://ti.to/lnug/august-2015" target="_blank">Free Tickets</a></div>
            </div>
        </div>
      </div>
      <div class="lnug-nextevent">
        <div class="text-center">
          <p>Next meetup: <span class="lnug-nextmeetup">Octobvember 77th 3921</span></p>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="row lnug-sectiondesc">
       <div class="col-xs-12 col-md-8 text-center talk-label ">Talks</div>
       <div class="col-xs-12 col-md-4 text-center sponsor-label hidden-xs hidden-sm">Sponsors</div>
    </div>

    <div class="col-xs-12 col-md-8 col-lg-8 lnug-content"><div class="row lnug-singlespeaker">
  <div class="col-xs-4 col-md-4 text-center lnug-speakerphoto">
    <img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="https://avatars.githubusercontent.com/u/822369?v=3">
  </div>
  <div class="col-xs-8 col-md-8 lnug-speakercard">
    <div class="col-xs-12 lnug-speakername name">Tomasz Janczuk</div>
    <div class="col-xs-12 lnug-talktitle title">Rethinking backend with webtasks</div>
    <div class="col-xs-12 lnug-talkdesc desc"><p>You are writing a mobile or HTML5 web application that needs just a little bit of a backend. Maybe you want to access MongoDB, send an SMS, or an e-mail. Do you really need to host your own Node.js service to run this small snippet of backend logic?</p>
<p>In this talk I will take a hard look at the role of the backend in modern applications. I will introduce the concept of a <a href="https://webtask.io">webtask</a> - a lightweight representation of backend logic that can safely be embedded in a client application. I will show how you can use modern container technologies based on CoreOS and Docker to build a generic, multi-tenant runtime for securely executing webtasks directly from a mobile or HTML5 application. You don’t need a backend to run backend code.</p>
<p>This talk is based on lessons learned when building the Node.js sandboxing technology for internal use in our core operations at Auth0.</p>
<p>Find out more:
<a href="http://tomasz.janczuk.org/2015/04/rethinking-backend-with-webtasks.html">Webtask concepts</a>
<a href="https://github.com/auth0/wt-cli">Webtask CLI</a>
<a href="https://webtask.io">Webtask playground</a>
<a href="https://medium.com/aws-activate-startup-blog/sandboxing-code-in-the-era-of-containers-294edb3a674">Webtask technology</a></p>
</div>
    <div class="col-xs-12 lnug-twitterhandle">
      <a href="https://github.com/tjanczuk">@tjanczuk</a>
      </div>
  </div>
</div> <div class="row lnug-singlespeaker">
  <div class="col-xs-4 col-md-4 text-center lnug-speakerphoto">
    <img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="https://avatars.githubusercontent.com/u/243117?v=3">
  </div>
  <div class="col-xs-8 col-md-8 lnug-speakercard">
    <div class="col-xs-12 lnug-speakername name">Dan Jenkins</div>
    <div class="col-xs-12 lnug-talktitle title">WebRTC Reborn</div>
    <div class="col-xs-12 lnug-talkdesc desc"><p>WebRTC has had a real tough 3 or 4 years, and so have those working with it. Only a few short years ago, the development world were excited about WebRTC and proclaiming how awesome it was. </p>
<p>You might have played with the technology a couple of years ago, only to find the extra infrastructure requirements were painful to implement and poorly documented. This probably left a bitter taste in your mouth, especially when things went wrong.</p>
<p>Those in the industry have been working hard to sweeten the deal again - efforts have been made to bring WebRTC into the mainstream and as a result the technology is experiencing a rebirth. Thanks to those who have remained dedicated to improving the situation for those around them, WebRTC is finally starting to fulfil the original expectations that were had of it. Both the technology and the support networks have been built up to make experimenting with it again a pleasure, not a pain.</p>
<p>WebRTC has grown up; in this talk you will learn how far along the tech has come, its current capabilities, the amazing things that people are starting to do with it, and how simple getting started with the new toolsets available.</p>
</div>
    <div class="col-xs-12 lnug-twitterhandle">
      <a href="https://github.com/danjenkins">@danjenkins</a>
      </div>
  </div>
</div> <div class="row lnug-singlespeaker">
  <div class="col-xs-4 col-md-4 text-center lnug-speakerphoto">
    <img class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="https://avatars.githubusercontent.com/u/1526883?v=3">
  </div>
  <div class="col-xs-8 col-md-8 lnug-speakercard">
    <div class="col-xs-12 lnug-speakername name">Tim Perry</div>
    <div class="col-xs-12 lnug-talktitle title">TypeScript will finally bring peace to your troubled soul</div>
    <div class="col-xs-12 lnug-talkdesc desc"><p>You&#39;ve heard of TypeScript, but you&#39;re not sure if it&#39;s a good idea, and you&#39;ve never really seen it in action. TypeScript is powerful though, rapidly gaining momentum, and has a lot more to offer than just JS + classes. Let&#39;s take a proper look.</p>
<p>In this talk, we&#39;ll dig a bit deeper and play around with some of the more interesting features TypeScript gives you. We&#39;ll walk through the extras that TypeScript provides and how they&#39;ll solve your every woe, learn a bit about where the types come in and why you care, and see how exactly you might put it into action on your next Node project.</p>
</div>
    <div class="col-xs-12 lnug-twitterhandle">
      <a href="https://github.com/pimterry">@pimterry</a>
      </div>
  </div>
</div></div>

    <div class="col-xs-12 col-md-4 col-lg-4 lnug-sidebar text-center">
      <ul class="list-unstyled">
        <li>
          <a href="http://www.stackoverflow.com" target="_blank" title="Stackoverflow homepage, proud sponsor of LNUG">
            <img src="./public/stackoverflow.jpg" alt="Stackoverflow">
          </a>
        </li>
        <li>
          <a href="http://www.nexttick.io" target="_blank" title="Nexttick homepage, proud sponsor of LNUG">
            <img src="./public/nexttick.jpg" alt="Nexttick">
          </a>
        </li>
        <li>
          <a href="https://www.braintreepayments.com/" target="_blank" title="BrainTree Payments homepage, proud sponsor of LNUG">
            <img src="./public/braintree.png" alt="BrainTree Payments">
          </a>
        </li>
        <li>
          <a href="http://www.opentable.com/" target="_blank" title="Open Table homepage, proud sponsor of LNUG">
            <img src="./public/opentable.jpg" alt="Open Table">
          </a>
        </li>
        <li>
          <a href="http://www.yld.io" target="_blank" title="YLD homepage, proud sponsor of LNUG">
            <img src="./public/yld.jpg" alt="YLD">
          </a>
        </li>
        <li>
          <a href="http://www.artificial.io" target="_blank" title="Artificial homepage, proud sponsor of LNUG">
            <img src="./public/artificial-labs.jpg" alt="Artificial Labs">
          </a>
        </li>
      </ul>

      <div class="twitter-label lnug-sectiondesc">Tweets</div>
      <div class="twitter-widget">
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/LNUGorg" data-widget-id="568413083740422144">@LNUGORG</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>


  <div class="row">
    <div class="col-xs-12 lnug-footer">
      <ul class="lnug-footer-text">
        <li><a href="code-of-conduct" title="code-of-conduct">Code of Conduct</a></li>
        <li><a href="mailto:contact@lnug.org?Subject=LNUG+site+question">Contacts</a></li>
        <li><a href="http://nexttick.us8.list-manage.com/subscribe?u=9ebd291b0179eceff6533b0da&amp;id=f7e81cdb7a" target="_blank" title="The monthly newsletter">Newsletter</a></li>
        <li><a href="//github.com/lnug/speak" target="_blank" title="speakers application">Apply to Speak</a></li>
      </ul>
      <ul class="lnug-footer-text">
        <li>LNUG 2015 - THE nodejs meetup in London</li>
      </ul>
    </div>
  </div>
</div>
</div>
</body>
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
<script>
  !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
  arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
  d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
  insertBefore(d,q)}(window,document,'script','_gs');

  _gs('GSN-057421-B');
</script>
</html>
